@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", serif;
}

input {
  @apply py-2 pl-2 bg-transparent;
}
input:focus {
  @apply outline-none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0.5); 
    padding-right: 20px;
}