@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Colors */
  --color-dark: #12131a;
  --color-lightDark: #1d1e26;
  --color-textDark: rgba(255, 255, 255, 0.78);
  --color-loginDark: #292b33;
  --color-borderDark: rgba(255, 255, 255, 0.12);
  --color-hoverDark: rgba(255, 255, 255, 0.06);

  --color-mainClr: rgba(76, 100, 217, 1);
  --color-mainClrDark: rgba(163, 178, 255, 1);
  --color-borderLight: rgba(0, 17, 102, 0.1);
  --color-lightText: rgba(0, 6, 38, 0.9);
  --color-lightLayout: rgba(0, 21, 128, 0.03);
  --color-btn: #4c64d9;
  --color-lightBtn: #a3b2ff;
  --color-hoverLight: rgba(0, 21, 128, 0.04);

  /* Font */
  --font-terminal: terminal;

  /* Box shadow */
  --shadow-custom: rgba(149, 157, 165, 0.2) 0px 12px 20px;

  /* Animations */
  --animate-syncPuls: syncPuls 1.5s infinite ease-in-out;

  @keyframes syncPuls {
    0%,
    100% {
      opacity: 0.9;
    }
    50% {
      opacity: 0.4;
    }
  }
}

@layer base {
  @font-face {
    font-family: terminal;
    src: url(./assets/Modeseven-L3n5.ttf);
  }

  body {
    font-family: "Montserrat", sans-serif;
    scrollbar-color: none #f4f4f4;
    height: 100vh;
  }

  html.dark {
    scrollbar-color: #555 #1e1e2f;
  }
  html.dark {
    @apply bg-dark;
  }
  * {
    scrollbar-width: thin;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0.5);
    padding-right: 20px;
  }

  /* Webkit scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #1e1e2f;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px;
    border: 2px solid transparent;
  }
}
@layer components {
  .ql-editor {
    min-height: 250px !important;
  }

  input,
  textarea {
    @apply py-2 pl-2 border dark:border-borderDark border-borderLight rounded-sm dark:bg-lightDark bg-lightLayout;
  }

  input:focus,
  textarea:focus {
    @apply outline-none border-purple-700/70 dark:border-purple-500/70;
  }

  select {
    @apply dark:bg-borderDark dark:border-none border border-borderLight dark:text-white text-lightText focus:outline-none appearance-none p-2;
  }

  .section {
    @apply dark:bg-dark border-b dark:border-borderDark border-borderLight text-lightText dark:text-white sm:px-5 px-4;
  }

  .section_student {
    @apply dark:bg-dark border-b dark:border-borderDark text-lightText dark:text-white;
  }

  .max-container {
    @apply max-w-[1600px] mx-auto;
  }

  .border_platform.all {
    @apply border dark:border-borderDark border-borderLight;
  }

  .border_platform.b {
    @apply border-b dark:border-borderDark border-borderLight;
  }

  .border_platform.t {
    @apply border-t dark:border-borderDark border-borderLight;
  }

  .border_platform.l {
    @apply border-l dark:border-borderDark border-borderLight;
  }

  .border_platform.r {
    @apply border-r dark:border-borderDark border-borderLight;
  }

  /* React Quill Dark Theme */

  .ql-toolbar {
    @apply bg-lightLayout;
  }

  .dark .ql-toolbar {
    @apply border-borderDark bg-lightDark;
  }

  .dark .quill {
    color: white;
  }

  .dark .ql-container {
    @apply border-borderDark;
  }
}
@layer utilities {
  .box-shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
  }

  .box-shadow-light {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 20px 24px -4px;
  }
  /* 
  .height-vh-adjust {
    height: calc(100vh - 83px);
  } */
}
