@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: terminal;
  src: url(./assets/Modeseven-L3n5.ttf);
}

body {
  font-family: "Montserrat", sans-serif;
}

/* For Firefox */
* {
  scrollbar-width: thin;
}

.light-scrollbar {
  scrollbar-color: none #f4f4f4;
}
.dark-scrollbar {
  scrollbar-color: #555 #1e1e2f;
}

input,
textarea {
  @apply py-2 pl-2 bg-transparent border dark:border-borderDark rounded-sm;
}
input:focus,
textarea:focus {
  /* box-shadow: 0 0 5px #888; */
  @apply outline-none border-purple-700/70 dark:border-purple-500/70;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.5);
  padding-right: 20px;
}

.box-shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
}

.box-shadow-light {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 20px 24px -4px;
}
.height-vh-adjust {
  height: calc(100vh - 77px);
}
.max-container {
  @apply max-w-[1600px] mx-auto;
}

.section {
  @apply dark:bg-dark border-b dark:border-borderDark text-lightText dark:text-white sm:px-5 px-1;
}
.section_student {
  @apply dark:bg-dark border-b dark:border-borderDark text-lightText dark:text-white;
}
/* Customize the scrollbar for webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e2f;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 5px;
  border: 2px solid transparent;
}
